@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Lexend+Deca&display=swap");

body {
  position: absolute;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background-color: #f3f4f7;
  width: 100%;
}

input::placeholder {
  color: #b3b5b7;
}
